.map {
    height: 500px;
    width: 100%;
    background-color: #b5d0d0;
}
.map-256-fixed {
    height: 256px;
    width: 256px;
    background-color: #b5d0d0;
}

.text-red{
    color: red;
}

.half-map {
    height: 500px;
    width: 50%;
    background-color: #b5d0d0;
    float: left;
}
